@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Placeholder", "Arial", sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: #ffffff;
}

a {
  display: block;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));
}

.wrapper .header,
.wrapper .footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.wrapper main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;
}

.rooms {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(222, 237, 255, 0.6)), to(rgba(166, 204, 250, 0.5)));
  background: linear-gradient(180deg, rgba(222, 237, 255, 0.6) 0%, rgba(166, 204, 250, 0.5) 100%);
  color: #000000;
  padding: 239px 0;
  background-image: url("../img/svg/rooms-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rooms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rooms__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 55px;
  font-weight: 500;
  text-transform: uppercase;
}

.rooms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  height: 100%;
}

.rooms__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: auto;
  width: 372px;
  min-height: 372px;
  background: linear-gradient(69deg, rgba(170, 203, 240, 0.25) 11.33%, rgba(170, 203, 240, 0.75) 64.1%);
  border-radius: 10px;
  z-index: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.rooms__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 34, 64, 0.1)), to(#0a2240));
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.rooms__item .rooms__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.rooms__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 372px;
  padding: 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(10, 34, 64, 0.1)), to(#0a2240));
  background: linear-gradient(180deg, rgba(10, 34, 64, 0.1) 0%, #0a2240 100%);
  border-radius: 10px;
  z-index: 1;
}

.rooms__quarantee-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.rooms__quarantee-box img {
  width: 36px;
  height: 30px;
}

.rooms__quarantee {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 4px 4px 5px 16px;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ff7647;
  border-radius: 3px 0 0 3px;
}

.rooms__subtitle {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 0;
}

.rooms__subtitle a {
  display: inline;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  background: no-repeat 0 90%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
}

.rooms__subtitle a:hover {
  background-size: 100% 1px;
}

.rooms__subtitle a:active {
  background-size: 0% 1px;
  color: rgba(255, 255, 255, 0.5);
}

.rooms__description-box {
  margin-top: 10px;
  margin-bottom: 20px;
}

.rooms__description {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.rooms__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.rooms__price-box div {
  margin-right: 27px;
}

.rooms__price {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.rooms .rooms__cost {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.rooms .rooms__cost b {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ff4b77;
  margin-left: 4px;
}

.rooms .rooms__cost span {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
  color: #999999;
}

.rooms__btn {
  width: 100%;
  max-width: 180px;
  padding: 12px 15px;
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #f91155;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.rooms__btn:hover {
  background-color: #d8003f;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.rooms__btn:active {
  color: #f9637c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rooms__btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.rooms__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: auto;
}

.rooms__overlay--visible {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.rooms__reservation {
  padding-top: 26px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: 98px;
  font-family: "OpenSans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background-color: #3c3e43;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.rooms__reservation a {
  display: inline;
  color: #ff4b77;
  background: no-repeat 0 90%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
}

.rooms__reservation a:hover {
  background-size: 100% 1px;
}

.rooms__reservation a:active {
  background-size: 0% 1px;
  color: #ff97b0;
}

@media (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
  }

  .rooms {
    padding-top: 27px;
    padding-bottom: 39px;
  }

  .rooms__title {
    margin-bottom: 26px;
  }

  .rooms__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 28px;
    -moz-column-gap: 28px;
    column-gap: 28px;
    row-gap: 36px;
  }

  .rooms__item {
    width: 48%;
    width: 336px;
    min-height: 420px;
  }

  .rooms__card {
    min-height: 420px;
  }

  .rooms__price-box div {
    margin-right: 0;
  }

  .rooms__price-box {
    padding-top: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .rooms .rooms__cost {
    margin-bottom: 16px;
  }

  .rooms__btn {
    max-width: 100%;
  }

  .rooms__reservation {
    padding-top: 56px;
    min-height: 162px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 320px;
    padding: 0 16px;
  }

  .rooms {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .rooms__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
  }

  .rooms__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 32px;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .rooms__item {
    width: 100%;
    width: 288px;
    min-height: 347px;
  }

  .rooms__card {
    min-height: 347px;
    padding: 21px;
  }

  .rooms__subtitle a {
    font-size: 20px;
    line-height: 26px;
  }

  .rooms__description {
    font-size: 14px;
    line-height: 21px;
  }

  .rooms__price {
    font-size: 14px;
    line-height: 21px;
  }

  .rooms .rooms__cost {
    font-size: 17px;
  }

  .rooms .rooms__cost b {
    font-size: 20px;
  }

  .rooms .rooms__cost span {
    font-family: "OpenSans", "Tahoma", sans-serif;
    font-size: 20px;
  }

  .rooms__btn {
    padding: 9px 15px;
    font-size: 14px;
  }

  .rooms__reservation {
    padding-top: 50px;
    padding-left: 21px;
    padding-right: 21px;
    min-height: 151px;
  }
}

@media (hover: hover) {
  .rooms__item:hover:not(.focus-visible)::before {
    opacity: 1;
    visibility: visible;
  }

  .rooms__item--not-hover:hover:not(.focus-visible)::before {
    opacity: 0;
    visibility: hidden;
  }

  .rooms__card:hover:not(.focus-visible) .rooms__quarantee-box {
    opacity: 1;
    visibility: visible;
  }

  .rooms__card--not-hover:hover:not(.focus-visible) .rooms__quarantee-box {
    opacity: 0;
    visibility: hidden;
  }
}