.rooms {
  background: $solitude-to-pale-cornflower-blue;
  color: $color-default-black;
  padding: 239px 0;

  background-image: url("../img/svg/rooms-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @include vp-1279 {
    padding-top: 27px;
    padding-bottom: 39px;
  }

  @include vp-767 {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 28px;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 36px;
    line-height: 55px;
    font-weight: 500;
    text-transform: uppercase;

    @include vp-1279 {
      margin-bottom: 26px;
    }

    @include vp-767 {
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    height: 100%;

    @include vp-1279 {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 28px;
      row-gap: 36px;
    }

    @include vp-767 {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 32px;
      column-gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 372px;
    min-height: 372px;
    background: $pale-cornflower-blue;
    border-radius: 10px;
    z-index: 0;
    transition: $trans-default;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      inset: 0;
      z-index: -1;
      background: $tangaroa;
      filter: blur(10px);
      opacity: 0;
      visibility: hidden;
      transition: $trans-default;
    }

    @include hover {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }

    &--not-hover {
      @include hover {
        &::before {
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    @include vp-1279 {
      width: 48%;
      width: 336px;
      min-height: 420px;
    }

    @include vp-767 {
      width: 100%;
      width: 288px;
      min-height: 347px;
    }

    .rooms__img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 372px;
    padding: 24px;
    background: $tangaroa;
    border-radius: 10px;
    z-index: 1;

    @include vp-1279 {
      min-height: 420px;
    }

    @include vp-767 {
      min-height: 347px;
      padding: 21px;
    }

    @include hover {
      .rooms__quarantee-box {
        opacity: 1;
        visibility: visible;
      }
    }

    &--not-hover {
      @include hover {
        .rooms__quarantee-box {
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }

  &__quarantee-box {
    display: flex;
    align-items: center;
    transition: $trans-default;
    opacity: 0;
    visibility: hidden;

    img {
      width: 36px;
      height: 30px;
    }
  }

  &__quarantee {
    align-self: flex-start;
    padding: 4px 4px 5px 16px;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: $color-default-white;
    background-color: $color-coral;
    border-radius: 3px 0 0 3px;
  }

  &__subtitle {
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: 0;

    a {
      display: inline;
      font-family: "Roboto", "Tahoma", sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: $color-default-white;
      background: no-repeat 0 90%;
      background-image: linear-gradient(currentColor, currentColor);
      background-size: 0% 1px;

      &:hover {
        background-size: 100% 1px;
      }

      &:active {
        background-size: 0% 1px;
        color: $color-transparent-white-50;
      }

      @include vp-767 {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }

  &__description-box {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__description {
    width: 100%;
    height: auto;
    margin: 0;
    font-family: "OpenSans", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $color-default-white;

    @include vp-767 {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__price-box {
    display: flex;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);

    div {
      margin-right: 27px;

      @include vp-1279 {
        margin-right: 0;
      }
    }

    @include vp-1279 {
      padding-top: 17px;
      flex-direction: column;
      align-items: start;
    }
  }

  &__price {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "OpenSans", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $color-default-white;

    @include vp-767 {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .rooms__cost {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto", "Tahoma", sans-serif;
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: $color-default-white;

    @include vp-1279 {
      margin-bottom: 16px;
    }

    @include vp-767 {
      font-size: 17px;
    }

    b {
      font-family: "Roboto", "Tahoma", sans-serif;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      color: $color-wild-watermelon;
      margin-left: 4px;

      @include vp-767 {
        font-size: 20px;
      }
    }

    span {
      font-family: "Roboto", "Tahoma", sans-serif;
      font-size: 23px;
      line-height: 32px;
      font-weight: 400;
      color: $color-nobel;

      @include vp-767 {
        font-family: "OpenSans", "Tahoma", sans-serif;
        font-size: 20px;
      }
    }
  }

  &__btn {
    width: 100%;
    max-width: 180px;
    padding: 12px 15px;
    font-family: "OpenSans", "Tahoma", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: $color-default-white;
    background-color: $color-razzmatazz;
    border: none;
    border-radius: 5px;
    transition: $trans-default;
    cursor: pointer;
    align-self: flex-end;

    @include vp-1279 {
      max-width: 100%;
    }

    @include vp-767 {
      padding: 9px 15px;
      font-size: 14px;
    }

    &:hover {
      background-color: $color-crimson;
      box-shadow: 0 4px 4px 0 $color-transparent-black-25;
    }

    &:active {
      color: $color-brink-pink;
      box-shadow: none;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    background-color: $color-transparent-white-40;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: $trans-default;
    cursor: auto;

    &--visible {
      visibility: visible;
      opacity: 1;
      cursor: pointer;
    }
  }

  &__reservation {
    padding-top: 26px;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 98px;
    font-family: "OpenSans", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: $color-default-white;
    background-color: $color-vulcan;
    text-align: center;
    border-radius: 0 0 10px 10px;

    @include vp-1279 {
      padding-top: 56px;
      min-height: 162px;
    }

    @include vp-767 {
      padding-top: 50px;
      padding-left: 21px;
      padding-right: 21px;
      min-height: 151px;
    }

    a {
      display: inline;
      color: $color-wild-watermelon;
      background: no-repeat 0 90%;
      background-image: linear-gradient(currentColor, currentColor);
      background-size: 0% 1px;

      &:hover {
        background-size: 100% 1px;
      }

      &:active {
        background-size: 0% 1px;
        color: $color-illusion;
      }
    }
  }
}
